.toolbar-position {
	position: absolute;
    right: 20px;
    top: 15px;
}

.scrollable {
	overflow-y: scroll;
	max-height: 500px;   
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.batsman-icon1 {
	background-image: url('../images/icons/if_Cricket_71198.png');
	border: 2px solid black;
    height: 150px;
    width: 120px;
    position: absolute;
    background-repeat: no-repeat;

}

.player-icon{
	height: 35px;
    width: 35px;
    position: absolute;
    right: 20px;
    top: -15px;
}

.bowler-icon {
	height: 20px;
    width: 20px;
    position: absolute;
    right: 15px;
    top: -2px;
}

.header {
	background-color: #239d60;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	color: white;
	padding: 10px 15px;
    border-bottom: 1px solid transparent;

}

.footer {
	padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	background-color: #239d60;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	color: white;
}

.header-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.submit-row {
	margin-bottom: 10px;
}