<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IPL</title>
    <!-- Bootstrap -->
    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">
    <link href="css/drag-and-drop-list.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="libs/bootstrap/js/jquery-3.1.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="libs/bootstrap/js/bootstrap.js"></script>
    <!-- angular is the only dependency! -->
    <script src="libs/angular.js"></script>
    <script src="libs/angular-drag-and-drop-lists.js"></script>    
    <script src="libs/myScript.js"></script>
	<script src="libs/lodash.js"></script>    
</head>
<!-- 
add css when user select any player from list say bowler / batsman etc
if possible apply drag and drop shadow effect

-->
<body ng-app="demo">
    <div ng-controller="listCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">IPL List</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 team">
                    	My Team 
                        <ul dnd-list="user.teamMembers"
                        	dnd-disable-if="(user.teamMembers.length >= user.max)"
							class="list-group" style="border: 1px solid red;">
                            <li ng-repeat="teamMember in user.teamMembers" 
                            	dnd-draggable="teamMember"
                            	dnd-moved="user.teamMembers.splice($index, 1)"
								dnd-selected="select(teamMember)"
								ng-class="{'info': selectedTeamMember === teamMember}"
                            	class="list-group-item">
								<div class="toolbar-position" ng-if="selectedTeamMember === teamMember" ng-include="'views/team-list-toolbar.html'"></div>
                                <span> {{ teamMember.name }} | {{ teamMember.pointsScored }} | {{ $index }} </span>
                                <span style="margin-left:5px;" ng-if="(teamMember.playingRole.toLowerCase().indexOf('uncapped') != -1)">
                                uc:</span>
                            </li>
                        </ul>
                        <span ng-if="(user.teamMembers.length >= user.max)"> You have completed your team </span>
                    </div>
                    <div class="col-md-3">
                		Batsman
                    	<input class="form-control input-sm" type="text" name="searchTxt" ng-model="batsman.search">

                        <ul dnd-list="batsmen" 
                        	dnd-allowed-types="['Batsman']" class="list-group" dnd-drop="dropped(item, type)">
                            <li ng-repeat="player in batsmen | filter:batsman.search | filter:{playingRole: 'batsman'}" 
								dnd-draggable="player" 
								dnd-moved="move(player, 'batsmen')"
                                dnd-type="player.playingRole"
                                dnd-selected="select(player)"
                                ng-class="{'info': selectedTeamMember === player}"                                  
								class="list-group-item">
                                {{ player.name }} | {{ player.pointsScored }} | {{ $index }}
                                <span style="margin-left:5px;" ng-if="(player.playingRole.toLowerCase().indexOf('uncapped') != -1)">
                                uc:</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                    	Bowler
                    	<input class="form-control input-sm" type="text" name="searchTxt" ng-model="bowler.search">

                        <ul dnd-list="bowlers"
                        	dnd-allowed-types="['bowler']" class="list-group" dnd-drop="dropped(item, type)">
                            <li ng-repeat="player in bowlers | filter:bowler.search | filter:{playingRole: 'bowler'}" dnd-draggable="player"
                            dnd-moved="move(player, 'bowler')"  
                            dnd-type="player.playingRole"
                            dnd-selected="select(player)"
                            ng-class="{'info': selectedTeamMember === player}"
                            class="list-group-item">
                                {{ player.name }} | {{ player.pointsScored }} | {{ $index }} 
                                <span style="margin-left:5px;" ng-if="(player.playingRole.toLowerCase().indexOf('uncapped') != -1)">
                                uc:</span>
                            </li>                            
                        </ul>
                    </div>
                    <div class="col-md-3">
                    	All Rounder
                    	<input class="form-control input-sm" type="text" name="searchTxt" ng-model="allRounder.search">

                        <ul dnd-list="allrounders"
                        	dnd-allowed-types="['all rounder']" class="list-group" dnd-drop="dropped(item, type)">
                            <li ng-repeat="player in allrounders | filter:allRounder.search | filter:{playingRole: 'all rounder'}" dnd-draggable="player"
                            dnd-moved="move(player, 'allrounder')" 
                            dnd-type="player.playingRole"
                            dnd-selected="select(player)"
                            ng-class="{'info': selectedTeamMember === player}"
                            class="list-group-item">
                                {{ player.name }} | {{ player.pointsScored }} | {{ $index }}
                                <span style="margin-left:5px;" ng-if="(player.playingRole.toLowerCase().indexOf('uncapped') != -1)">
                                uc:</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-md-3">
                        <button name="submit" class="btn btn-primary form-control" ng-click="submitMyTeam();">Submit</button>
                    </div>
                    <div class="col-md-9" ng-if="error">
                        <h4>{{ errorMessage }}</h4>
                    </div>                    
                </div>
            </div>
            <div class="panel-footer pull-right">Accenture Inc.</div>
        </div>
    </dir>
</body>
</html>